:root {
  --background-site-body: #fcfcfc;
  --background-site-rectangle: #f5f5f5;
  --color-site-primary: #007685;
  --color-site-subtle: #747474;
  --color-site-normal: #4a4a4a;
  --color-site-emphasis: #303030;
  --color-site-stress: #222;
}

@supports (color: oklch(0 0 0)) {
  :root {
    --background-site-body: oklch(0.99 0 0);
    --background-site-rectangle: oklch(0.97 0 0);
    --color-site-primary: oklch(0.52 0.19 210);
    --color-site-subtle: oklch(0.56 0 0);
    --color-site-normal: oklch(0.41 0 0);
    --color-site-emphasis: oklch(0.31 0 0);
    --color-site-stress: oklch(0.25 0 0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-site-body: #1f1f1f;
    --background-site-rectangle: #292929;
    --color-site-primary: #00d5ef;
    --color-site-subtle: #898989;
    --color-site-normal: #bebebe;
    --color-site-emphasis: #e1e1e1;
    --color-site-stress: #f8f8f8;
  }

  @supports (color: oklch(0 0 0)) {
    :root {
      --background-site-body: oklch(0.24 0 0);
      --background-site-rectangle: oklch(0.28 0 0);
      --color-site-primary: oklch(0.8 0.14 210);
      --color-site-subtle: oklch(0.63 0 0);
      --color-site-normal: oklch(0.8 0 0);
      --color-site-emphasis: oklch(0.91 0 0);
      --color-site-stress: oklch(0.98 0 0);
    }
  }
}
