@font-face {
	font-display: swap;
	font-family: Hack;
	font-style: normal;
	font-weight: 400;
	src: local('Hack Regular'), local('Hack-Regular'),
		url('/fonts/hack/hack-regular-subset.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: Hack;
	font-style: normal;
	font-weight: 700;
	src: local('Hack Bold'), local('Hack-Bold'),
		url('/fonts/hack/hack-bold-subset.woff2') format('woff2');
}
