---
import '@/styles/font.css'
import '@/styles/tailwind.css'
import '@total-typescript/ts-reset'
import { ViewTransitions } from 'astro:transitions'
import { metadata } from '@/config'
import HeadScript from '@/components/layouts/head/script.astro'
import HeadMeta from '@/components/layouts/head/meta.astro'
import HeadAnalytics from '@/components/layouts/head/analytics.astro'
import FooterScript from '@/components/layouts/footer/script.astro'

export interface Props {
  meta?: {
    title?: string
    description?: string
  }
}

const props = Astro.props as Props
const meta = props.meta || {}
---

<!doctype html>
<html lang={metadata.lang} dir={metadata.dir}>
  <head>
    <HeadMeta meta={meta} />
    <HeadScript />
    <HeadAnalytics />
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <FooterScript />
  </body>
</html>
