---
import ButtonLink from '@/components/shared/button/link.astro';
---

<footer
  class="mx-auto mt-16 flex max-w-2xl flex-row flex-wrap justify-between gap-x-20 gap-y-8 text-sm text-color-site-subtle md:mt-20"
>
  <nav>
    <ul class="flex flex-row flex-wrap gap-4">
      <li>
        <ButtonLink
          href="/"
          className="block transition hover:text-color-site-stress hover:underline hover:underline-offset-4"
        >
          <span slot="children" class="block">Home</span>
        </ButtonLink>
      </li>
      <li>
        <ButtonLink
          href="/about"
          className="block transition hover:text-color-site-stress hover:underline hover:underline-offset-4"
        >
          <span slot="children" class="block">About me</span>
        </ButtonLink>
      </li>
      <li>
        <ButtonLink
          href="/sitemap-index.xml"
          className="block transition hover:text-color-site-stress hover:underline hover:underline-offset-4"
        >
          <span slot="children" class="block">Sitemap</span>
        </ButtonLink>
      </li>
      <li>
        <ButtonLink
          href="https://uptime.faiqnaufal.com"
          className="block transition hover:text-color-site-stress hover:underline hover:underline-offset-4"
          external
        >
          <span slot="children" class="block">Uptime</span>
        </ButtonLink>
      </li>
    </ul>
  </nav>
  <p>
    &copy; {new Date().getFullYear()} • Faiq Naufal
  </p>
</footer>
