<div class="flex w-8 items-center justify-center">
  <svg viewBox="0 0 240 295" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5.38653 0.0309773C2.361 0.338237 0 2.8934 0 6V44V125H52.9055V44H162.808L107.336 125H163.563L184.312 94.648C184.626 94.1899 185.145 93.916 185.699 93.916C186.627 93.916 187.38 94.6683 187.38 95.5962V125H240V44V6C240 2.68629 237.314 0 234 0H196.104H46.9055H6C5.79289 0 5.58824 0.0104933 5.38653 0.0309773ZM234 295C237.314 295 240 292.314 240 289V169H187.38V289C187.38 292.314 190.066 295 193.38 295H234ZM77.2035 169H133.482L49.1309 292.386C48.0127 294.022 46.1591 295 44.1778 295H6C2.68629 295 0 292.314 0 289V169H52.9055V199.353C52.9055 200.229 53.6162 200.94 54.4929 200.94C55.0166 200.94 55.5067 200.682 55.8026 200.249L77.2035 169Z"
      fill="currentcolor"></path>
  </svg>
</div>

<style>
  svg {
    width: 100%;
    height: 100%;
  }
</style>
